.mycard {
  border: solid 4px yellow;
  cursor: pointer;
  border-radius: 5px;
  padding: 4%;
  padding-top: 0%;
  margin: 0%;
  width: 100%;
  height: 98%;
  overflow: hidden;

}

.mycard-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-size: 60%;
}

.title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0;
  width: 100%;
}

.description {
  width: 100%;
  font-size: 10px;
  text-align: start;

}

.myimage {
  background-repeat: no-repeat;
  position: relative;
  height: 40%;
  border: 1px solid black;
}

.img {
  background-image: url('../../assets/fond-carte.jpg');
  background-size: cover;
  width: 100%;
  height: 100%;
}

img {
  width: 60%;
  height: 100%;
}

.empty {
  background-color: white;
}

.abilities {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.details {
  margin: 0;
  padding: 0%;
  height: 100px;
}

@media screen and (max-width: 600px) {
  img {
    width: 60%;
    height: 80%;
  }

  .myimage {
    background-repeat: no-repeat;
    position: relative;
    height: 40%;
    border: 1px solid black;
  }
}
