<img class="container" src="../../assets/fond-page.png" style="position: absolute; z-index:-1;" alt="">
<div class="myrow">
  <!-- <div class="row margin">
    <div class="col s4 m3" *ngFor="let idx of indexes">
      <p class="index"> {{ idx+1 }}</p>
      <div class="small-card">
        <app-cardpokemon [show]="pokemons[idx].id === foundId" [pokemon]="pokemons[idx]"></app-cardpokemon>
      </div>

    </div>
  </div> -->


  <div class="col s4 m3 l3 margin" id="c2">
    <div class="single" *ngFor="let idx of indexes">
      <p class="index"> {{ idx+1 }}</p>
      <div class="small-card">
        <app-cardpokemon [show]="pokemons[idx].id === foundId" [pokemon]="pokemons[idx]"></app-cardpokemon>
      </div>

    </div>
  </div>


  <div class="col s12 m4 center" id="c1">
    <div class="col header">
      <img src="../../assets/logo.png" alt="pokemon">
    </div>
    <div class="mcard">
      <app-cardpokemon (tapCard)="tapCard($event)" [pokemon]=pokemon></app-cardpokemon>
    </div>

    <div class="btns row">
      <button class="btn col s12 m12" [disabled]="!disabled" (click)="lancer()">
        <div>Lancer</div>
      </button>
      <button style="background-color: orangered;" (click)="stop()" [disabled]="disabled" class="btn col s12 m12">
        <div>Stop({{ stopText }} sec)</div>
      </button>
    </div>
  </div>


  <div class="col s4 m3 l3 margin" id="c3">
    <div class="single" *ngFor="let idx of indexes">
      <p class="index">{{ idx+4 }}</p>
      <div class=" small-card">
        <app-cardpokemon [show]="pokemons[idx+3].id === foundId" [pokemon]="pokemons[idx+3]"></app-cardpokemon>
      </div>
    </div>
  </div>



</div>
